body{
	/*background: rgb(195, 184, 230);*/
}
.content-container{
	max-width: 1000px;
	margin: 0px auto;
	text-align: center;
}
#map_canvas {
	border-radius: 10px;
	height: 500px;
	width: 98%;
}

.center {
    margin-left: auto;
    margin-right: auto;
    /*width: 70%;*/
    background-color: #b0e0e6;
}
